opencv-python
pytesseract
pyautogui
mss
pygetwindow
numpy
gymnasium
stable-baselines3[torch]
easyocr
jupyter
pip
attr
attrs
distro
wheel
cryptography
pillow
tornado
jinja2
setuptools
packaging
pyparsing
zipp
gym